# Ignore IDE file
.idea
app/package-lock.json
# Ignore api files
apis/groups/node_modules/
apis/groups/package-lock.json
apis/groups/.env

apis/security/node_modules/
apis/security/package-lock.json
apis/security/.env